<app-loadgin [loading]="loading" ></app-loadgin>

<div class="container-fluid" *ngIf="!loading">

    <h3 *ngIf="editMode">Editing Recipe</h3>
    <h3 *ngIf="!editMode">Creating New Recipe</h3>

    <form [formGroup]="recipeFormGroup" action="" (ngSubmit)="submitForm()">

        <div class="form-group">
            <label for="">Name</label>
            <input formControlName="name" 
                    [class.is-invalid] = "recipeName.touched 
                                            && recipeName.invalid"
                    type="text" class="form-control">
            <div *ngIf="recipeName.invalid && recipeName.touched">
                <small *ngIf="recipeName.errors?.required " class="text-danger"> Recipe name is required</small>
                <small *ngIf="recipeName.errors?.minlength " class="text-danger"> Recipe name must be at least 3 characters</small>
                <small *ngIf="recipeName.errors?.FieldPattern " class="text-danger"> Recipe name should not e named as {{recipeName.errors?.FieldPattern.value}}</small>
            </div>
        </div>

        <div class="form-group">
            <label for="">Description</label>
            <input formControlName="description" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Link</label>
            <input formControlName="link" 
                    [class.is-invalid] = "recipeFormGroup.get('link').touched 
                                            && recipeFormGroup.get('link').invalid"
            type="text" class="form-control">
            <div *ngIf="recipeFormGroup.get('link').invalid && recipeFormGroup.get('link').touched">
                <small *ngIf="recipeFormGroup.get('link').errors?.required " class="text-danger"> Recipe link is required</small>
                <small *ngIf="recipeFormGroup.get('link').errors?.URLPattern " class="text-danger"> Invalid URL {{recipeName.errors?.URLPattern | json}}</small>
            </div>
        </div>

        <div class="form-group">
            <label for="">Tags</label>
            <input formControlName="tags" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Rate</label>
            <input  formControlName="rate" 
                    [class.is-invalid] = "recipeFormGroup.get('rate').touched 
                                            && recipeFormGroup.get('rate').invalid"
                    type="number" class="form-control">
            <div *ngIf="recipeFormGroup.get('rate').invalid && recipeFormGroup.get('rate').touched">       
                <small *ngIf="recipeFormGroup.get('rate').errors?.min " class="text-danger">Min Value is 1</small>
                <small *ngIf="recipeFormGroup.get('rate').errors?.max " class="text-danger">Max Value is 5</small>
                <small *ngIf="recipeFormGroup.get('rate').errors?.required " class="text-danger">Min Value is required</small>
            </div>
        </div>
        

        <div class="">
            <button type="submit" class="btn btn-danger" > Cancel </button>
            <button type="submit" class="btn btn-success" [disabled]="!recipeFormGroup.valid"> Create </button>
        </div>

    </form>
</div>
