<header>   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span>Header</span>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="router-link-active" class="nav-link" >Home</a>
        </li>
        <li class="nav-item ">
          <a routerLink="/recipes/form" routerLinkActive="router-link-active" class="nav-link">Create Recipe</a>
        </li>
      </ul>
    </nav>
</header>
<div class="container geral-margin-top">

<!-- 
    ***  Router-Outlet  ***

    Este componente do Angular determina o local onde o Componente será injetado quando a rota até ele for chamada.
    Para isto, é necessário que seja configurado no RouterModule os Paths e Components para ser feita a injeção.

 -->
<router-outlet></router-outlet>

</div>