/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

nav a.router-link-active{
    color : rgb(55, 18, 219);
}

.loading-middle-screen{
    display: block;
    margin: 0 auto;
    margin-top: 50%;
    margin-left: 50%;
}
